# Virtual environments
venv
vevn
env
ENV
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so



# Testing
pytest.ini
.pytest*
.coverage
.coverage.*
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
*.log

# OS
.DS_Store